.nav {
  width: 100%;
  padding: 10px;
  box-shadow: 1px 1px 15px #ddd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 19pt;
  font-weight: bold;
  background-color: white;
}

body {
  padding-top: 60px;
}

#title {
  padding: 10px;
  width: 90%;
  margin: 20px;
}

#note {
  margin: 20px;
  width: 94%;
}
.btn {
  background-color: blueviolet;
  color: white;
  padding: 10px;
  margin: 20px;
  width: 150px;
  text-align: center;
}
.list_ele {
  margin: 20px;
  padding: 10px;
  box-shadow: 1px 1px 15px #ddd;
}
